/*CSS Reset*/
body, header, nav, footer, h1, div, img {
    margin:0;
    padding:0;
    border:0;
}

body {
    margin: 0 auto;
    background-image: linear-gradient(180deg, #87cefa, #add8e6, #f0f8ff);
    font-family: "Alef", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Style rules for main content*/
main {
    max-width: 100%;
}

p {
    margin: auto 5rem;
    word-wrap: break-word;
}

article {
    margin: 2rem;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

h1, h5{
 font-family: "Bebas Neue", 'Times New Roman', Times, serif;
}

#biggest-font{
    font-family: "Bebas Neue", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
}

#big-font{
    font-family: "Bebas Neue", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}

#cap-font{
    font-family: "Bebas Neue", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

footer{
    position: absolute;
    padding: .5rem;
    background-color: white;
    width: 100%;
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: var(--viewport-height);
    overflow: hidden;
    position: relative;
    padding: 0 1rem 0 1rem;
}

#rcorners1 {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.623);
    padding: 20px;
    width: 100%;
    height: 150px;
} 

.external-link {
    font-weight:bold;
    text-decoration: none;
}


/*MEDIA QUERIES*/
@media screen and (max-width: 1680px) { }
    #wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-height: var(--viewport-height);
        overflow: hidden;
        position: relative;
        padding: 0 1rem 0 1rem;
    }
    #rcorners1 {
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.623);
        padding: 20px;
        width: 100%;
        height: 150px;
    } 
    body {
        margin: 0 auto;
        font-size: medium;
        font-family: "Alef", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

@media screen and (min-width: 736px) { }
@media screen and (orientation: portrait) { }